amnezia_clients:
  - name: alfa
  - name: bravo
  - name: charlie
  - name: delta
  - name: echo
  - name: foxtrot
  - name: golf
  - name: hotel
  - name: india
  - name: juliett
  - name: kilo
  - name: lima
  - name: mike
  - name: november
  - name: oscar
  - name: papa
  - name: quebec
  - name: romeo
  - name: sierra
  - name: tango
  - name: uniform
  - name: victor
  - name: whiskey
  - name: xray
  - name: yankee
  - name: zulu
